
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    @include easeOut;

    .fa-bars {
        @include easeOut;
    }

    &.close {
        transform: rotate(180deg);
        .fas {
            visibility: hidden;
        }
        h2 {
            visibility: visible;
        }
    }
}