@import 'config';
@import 'menu';



* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $dark;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
        color: $gray;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: .2rem 2rem;
        background: rgba(lighten($dark,2),.5);
        letter-spacing: .3rem;
        color: $gray;
    }
}
a {
    color: $gray;
    text-decoration: none;

}

header {
    z-index: 2;
    width: 100%;
    h2 {
        color: $gray;
    }
}

.hidden {
    visibility: hidden;
}

.menu-nav {
    .nav-item {
        a {
            color: white;
        }
    }
}
main {
    padding: 0 4rem;
    height: 100%;
    .icons {
        margin-top: 1rem;
        a {
            padding: .4rem;
            color: $blue;
            &:hover {
                color: $pink;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        margin-top: 20vh;
    }
}

//BEGIN PROJECTS PAGE
.projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .7rem;
    img {
        width: 100%;
        border: 2px solid $gray;
        &:hover {
            opacity:.5;
            border-color:$blue;
            @include easeOut;
        }
    }
}

//CONTACT PAGE STYLING HERE
#contact {
    margin: 0 auto;
}
main#contact {
    margin-left: 25vw;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background: $dark;
    width: 50%;
    .box {
        border: 3px dotted $gray;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        background: lighten($dark,5);
        line-height: 3.5rem;
        padding: .5rem;
        &:hover {
            background: $blue;
            padding: .1rem;
        }
    }
}

//BUTTONS HERE
.btn {
    display: inline;
    width: 50%;
    text-align: center;
    padding: .5rem 1rem;
    border: 0;
    margin-bottom: .3rem;
    &:hover {
        background: $pink;
        color: $gray;
    }
}
.btn-dark {
    @extend .btn;
    background: darken($dark,50);
    float: right;
}
.btn-light {
    @extend .btn;
    background: lighten($dark,50);
    float:left;
}

@import 'mobile';